table {
    width: 100%;
    table-layout: fixed;
}

tr {
    height: 130px;
}

/* #a {
    background: red;
}

#b {
    background: green;
}
#m {
    background: rgb(75, 104, 165);
}
#l {
    background: rgb(3, 85, 3);
} */


